$color: rgb(0, 102, 255);
html {
    font-family: Arial, sans-serif;
}

body {
    margin: 0px;
}

%button {
    color: white;
    background-color: $color;
    position: absolute;
    padding: 10px;
    top: 60px;
    border: none;
}

%google {
    position: absolute;
    top: 20vh;
    font-size: 100px;
    font-weight: lighter;
}

/* Button css */
#g_search {
    @extend %button;
    left: 715px;
}
#lucky {
    @extend %button;
    left: 850px;
}
#i_search {
    @extend %button;
    left: 795px;
}
#a_search {
    @extend %button;
    left: 810px;
}

/* Letter css */
.g1 {
    @extend %google;
    color: $color;
    left: 41vw;
}
.o1 {
    @extend %google;
    color: red;
    left: 45.5vw;
}
.o2 {
    @extend %google;
    color: rgb(255, 187, 0);
    left: 49vw;
}
.g2 {
    @extend %google;
    color: $color;
    left: 52.5vw;
}
.l {
    @extend %google;
    color: green;
    left: 56vw;
}
.e {
    @extend %google;
    color: red;
    left: 57.5vw;
}
.a_g1 {
    @extend %google;
    color: $color;
    top: -14px;
    left: 8px;
    font-size: 40px;
}
.a_o1 {
    @extend %google;
    color: red;
    top: -15px;
    left: 40px;
    font-size: 40px;
}
.a_o2 {
    @extend %google;
    color: rgb(255, 187, 0);
    top: -15px;
    left: 65px;
    font-size: 40px;
}
.a_g2 {
    @extend %google;
    color: $color;
    top: -15px;
    left: 90px;
    font-size: 40px;
}
.a_l {
    @extend %google;
    color: green;
    top: -15px;
    left: 115px;
    font-size: 40px;
}
.a_e {
    @extend %google;
    color: red;
    top: -15px;
    left: 125px;
    font-size: 40px;
}



@media screen and (min-width: 480px) {
    .links {
        position: absolute;
        text-align: right;
        width: 100vw;
        height: 2vh;
        top: -3px;
        font-weight: lighter;
        font-size: 15px;
        h4 {
            margin: 20px;
            position: relative;
            font-weight: lighter;
            a {
                color: $color;
                text-decoration: none;
            }
            #image, #google {
                left: 100px
            }           
            #advanced {
                left: 20px;
                top: -5px;
            }
        }
    }
    .search {
        position: absolute;
        text-align: center;
        width: 100vw;
        top: 45vh;
        height: 5vh;
        .bar {
            border-radius: 25px;
            border: 1px solid rgb(209, 212, 214);
            width: 500px;
            height: 25px;
            padding: 8px;
            outline: none;
        }
        .a_bar {
            position: relative;
            width: 40vw;
            top: -135px;
            left: 100px;
            padding: 5px;
            margin: 9px;
            border: 1px solid rgb(209, 212, 214);
        }
    }
    #a_google {
        width: 100vw;
        height: 7vh;
        left: 5px;
        top: -5px;
        background-color: rgb(235, 235, 235);
        padding: 5px;
    }
    #a_title {
        margin: 30px;
        color: red;
        font-weight: lighter;
    }
    #a_header {
        position: absolute;
        margin: 30px;
        top: 175px;
        font-weight: lighter;
    }
    .a_section {
        position: relative;
        margin: 30px;
        top: 100px;
        font-weight: lighter;
    }
    #a_search_section {
        position: relative;
        width: 40vw;
        left: 140px;
    }
    #a_tutorial {
        position: absolute;
        left: 950px;
        top: 175px;
        color: lightslategrey;
        font-weight: lighter;
    }
    .a_example {
        position: relative;
        left: 920px;
        top: -95px;
        margin:  30px;
        color: lightslategrey;
        font-weight: lighter;
    }
}